<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : ''">
    <mat-toolbar>CURT</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/">Home</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/about">About Us</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/history">History</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/media">Media</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/sponsors">Sponsors</a>
      <!-- <a mat-list-item (click)="drawer.toggle()" routerLink="/maze/">Maze</a> -->
      <mat-divider></mat-divider>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/contact">Contact Us / FAQ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrap" role="main">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async" class="spacer"></span>
      <span id="logo-container"><img id="curt-logo" src="assets/logo.png" /></span>
      <span *ngIf="!(isHandset$ | async)" class="spacer"></span>
      <button mat-icon-button *ngIf="(isHandset$ | async) && loggedIn">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div *ngIf="!(isHandset$ | async)">
        <button mat-button [class.navBtn]="page != 'home'" [class.active]="page == 'home'" routerLink="/">
          Home
        </button>

        <button mat-button [class.navBtn]="page != 'about'" [class.active]="page == 'about'" routerLink="/about">
          About Us
        </button>

        <button mat-button [class.navBtn]="page != 'history'" [class.active]="page == 'history'" routerLink="/history">
          History
        </button>

        <button mat-button [class.navBtn]="page != 'media'" [class.active]="page == 'media'" routerLink="/media">
          Media
        </button>

        <button mat-button [class.navBtn]="page != 'sponsors'" [class.active]="page == 'sponsors'" routerLink="/sponsors">
          Sponsors
        </button>

        <!-- <button
          mat-button
          [class.navBtn]="page != 'maze'"
          [class.active]="page == 'maze'"
          routerLink="/maze/"
        >
          Maze
        </button> -->

        <button mat-button [class.navBtn]="page != 'contact'" [class.active]="page == 'contact'" routerLink="/contact">
          Contact Us / FAQ
        </button>

        <button mat-button *ngIf="loggedIn" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>
    <div class="separator" *ngIf="!loading"></div>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <!-- Add Content Here -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <curt-footer *ngIf="showFooter"></curt-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu> -->
