<section class="history-wrapper">
  <curt-car
    mode="right"
    carName="15"
    engine="2012 KTM EXC 450cc"
    power="56 H.P."
    weight="200 kg"
    maxSpeed="136 km/hr"
    carImg="assets/history/car15.png"
    far="far"
  >
  </curt-car>

  <curt-car
    mode="left"
    carName="16"
    engine="2012 KTM EXC 450cc - Edited"
    power="55 H.P."
    weight="178 kg"
    maxSpeed="112 km/hr"
    carImg="assets/history/car16.png"
  >
  </curt-car>

  <curt-car
    mode="right"
    carName="17/18"
    engine="2012 KTM EXC 450cc - Edited"
    power="55 H.P."
    weight="204 kg"
    maxSpeed="136 km/hr"
    carImg="assets/history/car18.png"
    far="near"
  >
  </curt-car>
</section>

<section class="acheive-wrapper">
  <div class="mat-display-3 bold prv-header">Our Achievements</div>
  <div class="center">
    <img
      src="assets/history/achivements.svg"
      [ngClass]="{ 'img-mob': isHandset$ | async }"
      alt="cairo university racing team achievements from 2012 till today"
    />
  </div>
</section>
