<h1 class="mat-display-3" style="text-align: center;margin-top: 30px;">
  <span class="brand-red">CURT'20</span> {{isTechnical ? 'Technical' : 'Mangarial'}} Registeration
</h1>

<mat-horizontal-stepper linear labelPosition="bottom" #stepper>
  <mat-step [stepControl]="basicInfoForm">
    <ng-template matStepLabel>Basic Information</ng-template>
    <form [formGroup]="basicInfoForm">
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email" required />
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobile" required />
        <mat-hint>It should look like this: 201234567890</mat-hint>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>University</mat-label>
        <input matInput formControlName="university" required />
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Faculty</mat-label>
        <input matInput formControlName="faculty" required />
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department" required />
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="birth_date" [matDatepicker]="picker" placeholder="Choose your Birth Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Graduation Year</mat-label>
        <input matInput formControlName="grad_year" required />
        <mat-icon matSuffix>school</mat-icon>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isMangarial" [stepControl]="businessAddInfoForm">
    <ng-template matStepLabel>Additional Information</ng-template>
    <form [formGroup]="businessAddInfoForm">
      <mat-form-field appearance="outline">
        <mat-label>Last year grade.</mat-label>
        <input matInput formControlName="lastyear_grade" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Is your Family outside Cairo and Giza?</mat-label>
        <input matInput formControlName="family_outside" required>
        <mat-hint>( Yes or no ) if yes please state where.</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rate your level of command of English.</mat-label>
        <mat-select formControlName="english_level">
          <mat-option value="1">
            Cannot interact or understand anything in english.
          </mat-option>
          <mat-option value="2">
            Can communicate in simple ways when people speak slowly to him/her.
          </mat-option>
          <mat-option value="3">
            Can use simple language to communicate experiences, feelings, opinions, hopes and plans.
          </mat-option>
          <mat-option value="4">
            Can understand and express some complex ideas, opinions and topics.
          </mat-option>
          <mat-option value="5">
            Can communicate very fluently and precisely in complex situations.
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Write about your previous experience.</mat-label>
        <textarea matInput formControlName="experience" required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Write a paragraph about yourself.</mat-label>
        <textarea matInput formControlName="mySelf" required></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <p>
        Notes about choosing Preferences:<br>
        - Choosing from the two preferences is not mandatory, but it increases your chances.<br>
        - You can prioritize more than one section under the same preference.<br>
        - You will be interviewed and evaluated based on all your selections<br>
        - Apply ONLY to what you have basic knowledge about.<br>
      </p>
      <mat-form-field>
        <mat-label>Choose your first team preference.</mat-label>
        <mat-select formControlName="team1">
          <mat-option value="business">
            Business & Manufacturing
          </mat-option>
          <mat-option value="operations">
            Operations
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose your second team preference.</mat-label>
        <mat-select formControlName="team2">
          <mat-option value="none">
            None
          </mat-option>
          <mat-option value="business">
            Business & Manufacturing
          </mat-option>
          <mat-option value="operations">
            Operations
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isTechnical" [stepControl]="technicalAddInfoForm">
    <ng-template matStepLabel>Additional Information</ng-template>
    <form [formGroup]="technicalAddInfoForm">
      <mat-form-field appearance="outline">
        <mat-label>What can you add for the team?</mat-label>
        <textarea matInput formControlName="what_to_add" required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>What do you expect to learn in the targeted department?</mat-label>
        <textarea matInput formControlName="expect_to_learn" required></textarea>
      </mat-form-field>
      <div class="slider-wrapper">
        <mat-label>Rate your self learning skills.</mat-label>
        <mat-slider [thumbLabel]="true" [tickInterval]="1" (change)="setSliderValue($event, 'technicalAddInfoForm', 'self_learning')" [min]="1" [max]="5" [step]="1"></mat-slider>
      </div>
      <div class="slider-wrapper">
        <mat-label>Rate your presentation skills.</mat-label>
        <mat-slider [thumbLabel]="true" [tickInterval]="1" (change)="setSliderValue($event, 'technicalAddInfoForm', 'presentation_skill')" [min]="1" [max]="5" [step]="1"></mat-slider>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Mention your presentation past experience.</mat-label>
        <textarea matInput formControlName="presentation_exp" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose your team preference.</mat-label>
        <mat-select formControlName="technical_subteam">
          <mat-option value="electrical">
            Electrical
          </mat-option>
          <mat-option value="mechanical">
            Mechanical
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isMangarial" [stepControl]="businessForm" [optional]="!isBusinessChosed()">
    <ng-template matStepLabel>Business & Manufacturing</ng-template>
    <form [formGroup]="businessForm">
      <mat-form-field>
        <mat-label>Choose your sub-team preference.</mat-label>
        <mat-select formControlName="business_subteam">
          <mat-option value="cost">
            Cost & Manufacturing
          </mat-option>
          <mat-option value="planning">
            Business Planning
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Write a paragraph about your choice.</mat-label>
        <textarea matInput formControlName="talk_business" required></textarea>
        <mat-hint>your paragraph should be at least 5 lines, it may increase.</mat-hint>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isMangarial" [stepControl]="operationsForm" [optional]="!isOperationsChosed()">
    <ng-template matStepLabel>Operations</ng-template>
    <form [formGroup]="operationsForm">
      <mat-form-field>
        <mat-label>Choose your sub-team preference.</mat-label>
        <mat-select formControlName="operations_subteam">
          <mat-option value="accounting">
            Accounting
          </mat-option>
          <mat-option value="fundraising">
            Fundraising & Relations
          </mat-option>
          <mat-option value="logistics">
            Logistics
          </mat-option>
          <mat-option value="marketing">
            Marketing
          </mat-option>
          <mat-option value="multimedia">
            Multimedia (Photography, Graphic Design, Video Editing ..)
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Write a paragraph about your choice.</mat-label>
        <textarea matInput formControlName="talk_operations" required></textarea>
        <mat-hint>your paragraph should be at least 5 lines, it may increase.</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>How Many Hours would you give to CURT weekly?</mat-label>
        <textarea matInput formControlName="hours_to_CURT" required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Why do you want to join CURT?</mat-label>
        <textarea matInput formControlName="join_CURT" required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>What do you expect to learn in CURT?</mat-label>
        <textarea matInput formControlName="expect_learn_CURT" required></textarea>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isElectricalChosed()" [stepControl]="electricalForm">
    <ng-template matStepLabel>Electrical</ng-template>
    <form [formGroup]="electricalForm">
      <mat-label style="padding-bottom:16px;">Please priortize the following sections according to your interest.</mat-label>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let team of electricalTeams" cdkDrag>{{team}}</div>
      </div>

      <div class="slider-wrapper">
        <mat-label style="padding-bottom: 16px;">From your prespective, Please specify your progress in the fields where you have basic knowledge in.</mat-label>
        <ng-container *ngFor="let stuff of electricalForm?.controls?.knowledge_fields?.controls; let i = index;">
          <mat-label>Rate your {{electricalStuff[i]}} skills.</mat-label>
          <mat-slider [thumbLabel]="true" [tickInterval]="1" (change)="setSliderValue($event, 'electricalForm', stuff)" [min]="1" [max]="4" [step]="1"></mat-slider>
        </ng-container>
      </div>

      <mat-label>Briefly, write about your past projects in any of the above fields.</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="past_projects" required></textarea>
      </mat-form-field>

      <div class="checkbox-wrapper">
        <mat-label style="padding-bottom: 16px;">Please check the softwares where you have basic knowledge about.</mat-label>
        <mat-checkbox *ngFor="let soft of electricalForm?.controls?.software_knowledge?.controls; let i = index" [formControl]="soft">
          {{electricalSoftwares[i]}}
        </mat-checkbox>
      </div>

      <mat-label>Please write the programming languages you are familiar with (if any) and specify your level in it.</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="programming_lang" required></textarea>
      </mat-form-field>

      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="isMechanicalChosed()" [stepControl]="mechanicalForm">
    <ng-template matStepLabel>Mechanical</ng-template>
    <form [formGroup]="mechanicalForm">
      <mat-form-field>
        <mat-label>Choose your first priority.</mat-label>
        <mat-select formControlName="mech_prio1">
          <mat-option *ngFor="let team of mechanicalTeams" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose your second priority.</mat-label>
        <mat-select formControlName="mech_prio2">
          <mat-option *ngFor="let team of mechanicalTeams" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="checkbox-wrapper">
        <mat-label style="padding-bottom: 16px;">Rate your Solidworks proficiency.</mat-label>
        <mat-radio-group class="checkbox-wrapper" formControlName="solidworks_prof">
          <mat-radio-button [checked]="true" value="Beginner">Beginner</mat-radio-button>
          <mat-radio-button value="Intermediate">Intermediate</mat-radio-button>
          <mat-radio-button value="Professional">Professional</mat-radio-button>
        </mat-radio-group>
        <mat-label class="push-down">Please mention the tools you are familiar with in Solidworks.</mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="solidworks_exp" required></textarea>
        </mat-form-field>
      </div>
      <div class="checkbox-wrapper">
        <mat-label style="padding-bottom: 16px;">Rate your Ansys proficiency.</mat-label>
        <mat-radio-group class="checkbox-wrapper" formControlName="ansys_prof">
          <mat-radio-button [checked]="true" value="Beginner">Beginner</mat-radio-button>
          <mat-radio-button value="Intermediate">Intermediate</mat-radio-button>
          <mat-radio-button value="Professional">Professional</mat-radio-button>
        </mat-radio-group>
        <mat-label class="push-down">Please mention the tools you are familiar with in Ansys.</mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="ansys_exp" required></textarea>
        </mat-form-field>
      </div>

      <mat-label>If you have experience in other Software like (Matlab, Auto CAD, Revit, Inventor, Fusion 360, Microsoft Office, others...). Please mention.</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="other_cad_exp" required></textarea>
      </mat-form-field>

      <mat-label>Have you worked in an engineering project starting from Design, Simulation and manufacturing, and please mention details about this project.</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="worked_project_before" required></textarea>
      </mat-form-field>

      <mat-label>If you have previous experience in manufacturing, please mention.</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="manufacturing_exp" required></textarea>
      </mat-form-field>

      <div class="btn-wrapper">
        <button mat-raised-button color="warn" matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    Thanks {{getName()}} for getting through all this, we will be waiting to see you soon.
    <div class="btn-wrapper">
      <button mat-raised-button [disabled]="isSubmitted" color="warn" (click)="submitForm()">Submit</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
